@model List<CatalogNode>;

@{
    BuildCatalogTree(Model);

    void BuildCatalogTree(List<CatalogNode> catalogNodes)
    {
        foreach (CatalogNode catalogNode in catalogNodes)
        {
            <div class="folder pt-2 pl-2" id="catalog-@catalogNode.Id" data-order=@catalogNode.Order>
                @if (catalogNode.ChildrenNodes.Count > 0)
                {
                    <button class="btn shadow-none list_expansion_button col-1 p-0" type="button" data-toggle="collapse" data-target="#catalog-@catalogNode.Id-input-content" aria-expanded="false" data-is-open=@(catalogNode.IsOpened ? "true" : "false")>
                        <i class="fas fa-caret-right"></i>
                    </button>
                    @if (catalogNode.IsSelected)
                    {
                        <input type="radio" class="d-none" id="catalog-@catalogNode.Id-input" name="ParentCatalogId" value="@catalogNode.Id" checked />
                    }
                    else
                    {
                        <input type="radio" class="d-none" id="catalog-@catalogNode.Id-input" name="ParentCatalogId" value="@catalogNode.Id" />
                    }
                    <label class="text-decoration-none text-dark" for="catalog-@catalogNode.Id-input">
                        <i class="fas fa-folder-open"></i>
                        @catalogNode.Name
                    </label>
                    <div class="@(catalogNode.IsOpened ? "collapse pl-4 show" : "collapse pl-4")" id="catalog-@catalogNode.Id-input-content">
                        @{
                            BuildCatalogTree(catalogNode.ChildrenNodes);
                        }
                    </div>
                }
                else
                {
                    if (catalogNode.IsSelected)
                    {
                        <input type="radio" class="d-none" id="catalog-@catalogNode.Id-input" name="ParentCatalogId" value="@catalogNode.Id" checked />
                    }
                    else
                    {
                        <input type="radio" class="d-none" id="catalog-@catalogNode.Id-input" name="ParentCatalogId" value="@catalogNode.Id" />
                    }
                    <label class="text-decoration-none text-dark offset-1 pl-1" for="catalog-@catalogNode.Id-input">
                        <i class="fas fa-folder-open"></i>
                        @catalogNode.Name
                    </label>
                }
            </div>
        }
    }
}
